
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* { margin:0%;
    padding: 0%;
}
/* @media screen and (max-width: 800px) {
    div {
    display: block;
    align-items: center;
    }
}*/

body {
    background-color: rgb(18, 18, 18);
}


h1 {
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
    text-align: center;
}
.AR {
color: hotpink;
font-family: serif;
font-size: 40px;
}


h3 {
    color: hotpink;
    background-color: rgba(255, 255, 255, 0.056);
    border-right:3px cyan;
    border-bottom:2px rgb(208, 16, 208);
    border-style:dashed;
    border-radius: 50%;
    box-shadow: 3px 3px 85px 25px rgb(250, 45, 148);
    position: sticky;
    left: 50px;
    top: 50px;
    width: 70px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    font-family:serif;
    animation: flip 15s infinite;
    animation-delay: calc(5s * var(--i))
}
@keyframes flip {
    20%,60% {
    transform: rotateX(360deg); 
    
    }
    5%,60% {
        transform: rotateY(180deg);
        }
}
a {
    color: white;
    font-family: 'Raleway';
    text-decoration: none;
    display: block;
}
a:hover {
    color: cyan;
    font-style: italic;
    font-size: large;
    background: rgba(255, 105, 180, 0.157);
    box-shadow: 1px 1px 10px 10px rgba(255, 105, 180, 0.157);
}
.nav{ 
    margin-left: 50%;
}
.nav a{
    margin-left: 20px;
    display: inline-block;
    
    
    
}
.nav a:hover{
    
}

.box {
    --angle: 90deg;
    width: 450px;
    height: 220px;
    border: 10px solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 3s rotate linear infinite;
    position: relative;
    bottom: -150px;
    right: -30%;
    box-shadow: 0px 1px 70px 50px rgba(245, 8, 225, 0.217);
}

@keyframes rotate {
    to {
    --angle: 360deg;
    }
}
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
h2 {
    color: white;
    font-family: 'Raleway';
    border-bottom: 5px solid ;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
    text-shadow: 5px 0 5px hotpink;
}
.section {
    position: relative;
    top: 300px;
    right:-250px;
    height: 700px;
    width:700px;
    display:block;

}
#projects {
    display: inline-block;
}
video {
    display:inline-block;
    margin: 25px;
    width: 280px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 7px 8px  10px rgba(0, 255, 255, 0.328);
    
}
video:hover{
    width:290px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 7px  20px  25px rgba(247, 44, 234, 0.526);
    

}
#link {
    width: 100px;
    margin: 100px;
    position: relative;
    top:-80px;
    display: inline-block;
    color: hotpink;
    font-size: xx-large;
    font-weight: bold;
    font-family: serif;
    
}
#link,a:hover{
    box-shadow: none;
    background: none;
    transform-origin: 100%;

}

img {
    border: 2px solid hotpink;
    width:700px;
    height: 550px;
}

p{
    color: white;
    font-family: 'Raleway';
    width: 200px;
    margin-left: 450px;
    margin-top: 20px;
}
.zim {
    width: 250px;
    height: 200px;
    border: none;
    border: none;
    display: inline-block;
    position: relative;
    right: -180px;
    bottom: -170px;
    animation: flip 10s ease infinite;
    animation-delay: calc(5s * var(--i));
}
h4 {
    color: rgb(240, 126, 183);
    font-size: x-large;
    position: relative;
    right: -180px;
    bottom: -170px;
    text-shadow: greenyellow 5px 5px 10px;
    
    
    
}
label {
    display: block;
    color: white;
    font-family: 'Raleway';
}
input {
    margin:5px;
    display: block;
    width: 180px;
    height: 30px;
    background-color:rgba(255, 255, 255, 0.106) ;
    color: white;
    box-shadow: rgb(228, 30, 129) .5px .5px 50px 10px;
    border: 5px solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 1s rotate linear infinite;
    font-family: 'Raleway';
}
textarea {
    display: block;
    background-color:rgba(255, 255, 255, 0.106) ;
    color: white;
    border: 5px solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 1s rotate linear infinite;
    font-family: 'Raleway';
    box-shadow: cyan .5px .5px 50px 15px;
}
button {
    display: block;
    background-color:rgb(18, 18, 18) ;
    color: white;
    border: 5px solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 1s rotate linear infinite;
    font-family: 'Raleway'; 
    width:  100px;
    margin-top: 25px;
    box-shadow: purple .5px .5px 60px 55px;
    background-color:rgba(255, 255, 255, 0.035) ;
    
}

button:hover {
    font-size: large;
    cursor: pointer;
}
